/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*------------------TOP BAR STYLES ------------------*/

.top-left {
    display: flex;
    align-items: center;
}

.top-left a:hover,
.top-left a:hover *,
#topbar li a:hover,
#topbar li a:hover *{
	color: #6f7073 !important;
}

ul#topbar {
    display: flex;
    align-items: center;
    justify-content: end;
}

header .uabb-photo-content img{
	height: auto !important;
	max-height: 125px !important;
}

.fl-search-form a.fl-button {
    pointer-events: none;
}

.fl-search-form a.fl-button i {
    pointer-events: all;
}

header .uabb-offcanvas-content{
	padding: 20px 0 !important;
}

header ul.sub-menu {
    border: 0px !important;
}


div#team_row .uabb-imgicon-wrap .uabb-image-content img {
  min-height: 335px;
  max-height: 335px;
  width: 100%;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.fl-page-nav .navbar-nav li > a {
  padding: 15px 8px;
}

a.fl-button.nowHiring {
  background: #ee2e24 !important;
  display: inline-block;
  padding: 15px 8px;
}
a.fl-button.nowHiring:hover {
  background: #1b1654 !important;
}
a.fl-button.nowHiring span {
  color: #fff !important;
}

.open_sidebar .fl-button-text {
  color: #fff !important;
}

.store-hours .store-opening-hrs {
  padding: 0px !important;
}
.store-hours .store-opening-hrs li {
  margin: 20px 0px !important;
}

.mob_link {
  padding-left: 15% !important;
}

#responsive-menu-additional-content .phone a span {
  color: #fff !important;
  line-height: 40px;
}

#responsive-menu-additional-content {
  padding: 10px 25px !important;
}

#responsive-menu-search-box {
  padding: 15px 5% !important;
}

#responsive-menu-additional-content {
  padding: 0 5% !important;
}

#breadcrumbs > div > span {
  font-weight: 600 !important;
}

ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
}

ul#topbar li a:hover,
.fl-page-bar a:hover * {
  color: #6f7073;
}

.fl-page-bar-text.fl-page-bar-text-1 {
  font-weight: 600;
}

.fl-page-header-primary .fl-logo-img {
  max-width: 100%;
}

.product-grid .fl-button {
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}

.product-grid .fl-button span {
  color: #ffffff !important;
}

.product-grid .fl-button:hover {
  background-color: transparent !important;
}

.product-grid .fl-button:hover span {
  color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  width: 60px !important;
  max-width: 60px !important;
}

.gform_wrapper .gfield_time_hour i {
  margin-top: -2px !important;
}

.product-grid .fl-button {
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}

.product-grid .fl-button span,
.facet-wrap ~ .close_sidebar_button a.fl-button.close_sidebar span {
  color: #ffffff !important;
}

.product-grid .fl-button:hover {
  background-color: transparent !important;
}

.product-grid .fl-button:hover span {
  color: #a4774f !important;
}

form select {
  padding: 6px 0px !important;
}

.gform_wrapper .gfield_time_hour {
  max-width: calc(6rem + 0.5rem) !important;
}

.gform_wrapper .gfield_time_minute {
  max-width: 6rem !important;
}

.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  margin-top: 0px !important;
  vertical-align: top !important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
  vertical-align: top;
}

.gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  width: 100%;
}

/* .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
  padding-right: 15px;
} */
#responsive-menu-button {
  width: 40px !important;
  height: 40px !important;
}

.str_hrs .store-opening-hrs {
  padding-left: 0px !important;
}

.gfield input[type="text"] {
  width: 100% !important;
}

.flooringCategory .uabb-ultb3-info,
.bigOver .uabb-ultb3-info {
  background-color: #fff;
  width: 100% !important;
  padding: 10px 20px !important;
  max-width: 220px;
  text-align: center !important;
}
.bigOver .uabb-ultb3-info {
  max-width: 290px !important;
}
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #2c2489;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #2c2489;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
}

.facetwp-selections ul {
  background-color: #eeee;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.facet_filters .facet-wrap > strong {
  border-bottom: 2px solid #2c2489 !important;
  color: #2c2489 !important;
}
/*------------------END TOP BAR STYLES ------------------*/
.fl-slide .fl-slide-text > * {
  margin: 0px !important;
}

#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
  background-color: #323232;
  border-top: 1px solid #fff;
}

#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
button.moove-gdpr-infobar-close-btn:hover i {
  color: #f5f5f5 !important;
  opacity: 0.7;
}

.moove-gdpr-button-holder > button.mgbutton {
  background-color: #1b1654 !important;
  color: #fff !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  border: none !important;
}
.moove-gdpr-button-holder > button.mgbutton:hover {
  background: #120e40 !important;
  color: #fff !important;
  text-transform: uppercase !important;
  border-color: #120e40 !important;
}

#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-left-content
  #moove-gdpr-menu
  li
  button {
  color: #000 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon {
  background-color: #1b1654 !important;
  border: 1px solid #fff !important;
}
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  i:hover,
#moove_gdpr_cookie_modal
  .moove-gdpr-modal-content
  .moove-gdpr-modal-close
  span.gdpr-icon:hover,
#moove_gdpr_cookie_info_bar span[data-href] > u.change-settings-button {
  color: #fff !important;
  background-color: #120e40 !important;
}
button.moove-gdpr-infobar-close-btn:hover i {
  color: #120e40 !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
  background-color: #1b1654 !important;
  color: #fff !important;
  border: 0px !important;
  border-radius: 0px !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  text-transform: uppercase !important;
}
#moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
  background: #120e40 !important;
  color: #fff !important;
  border: 0px !important;
}

.moove-gdpr-tab-main-content a:hover {
  color: #1b1654 !important;
}

.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-submenu-icon-wrap .fl-submenu-toggle-icon:after {
    color: #000;
}


.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #1b1654!important;
    color: #fff!important;
    text-transform: uppercase;
    border: none;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #120e40!important;
    color: #fff!important;
    text-transform: uppercase;
    border: none;
}
.facetwp-selections ul:before, 
div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #2c2489 !important;
    color: #2c2489 !important;
}
.product-plp-grid > .product-row > .col-lg-4 > .fl-post-grid-post .product-grid.btn-grey>h4>span:first-child, 
.row.search-row .posts_search_result.post_list.product-grid.swatch h2, 
div#search-result-page .product-plp-grid .product-item .fl-post-grid-post .fl-post-grid-text h4>span:first-child{
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    font-size: 14px !important;
    line-height: 1.2em;
    min-height: 34px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (min-width: 992px) and (max-width: 1100px) {
  .style-product_list .pro-container > .row > .col-md-7 {
    flex: 0 0 57.33333%;
    width: 57.33333%;
  }

  .style-product_list .pro-container > .row > .col-md-5 {
    flex: 0 0 41.6666%;
    width: 41.6666%;
  }

  .style-product_list .pro-container .pro-details .button-wrapper a.button {
    min-width: auto;
    width: auto;
  }
}

@media (max-width: 1180px) {
	.row.search-row{
		margin: 0px !important;
	}
	footer .fl-col.boxes-on-mobile-full-width {
		width: 100% !important;
		text-align: center;
	}
	footer .fl-col.boxes-on-mobile-full-width *{
		text-align: center !important;
	}
	body .fl-page-nav-right .fl-page-header-container {
		padding: 10px !important;
	}
	.fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
		top: 50%;
		transform: translateY(-50%);
	}	
  div#team_row .uabb-module-content.uabb-infobox * {
    text-align: center;
  }

  div#team_row .uabb-modal-action.uabb-trigger {
    text-align: center;
  }

  div#team_row .uabb-module-content.uabb-infobox h5.uabb-infobox-title {
    margin-bottom: 0;
  }
  div#team_row
    .fl-module.fl-module-modal-popup
    .fl-module-content.fl-node-content {
    margin-top: 0;
    margin-bottom: 0;
  }
  div#team_row
    .fl-module.fl-module-info-box
    .fl-module-content.fl-node-content {
    margin-bottom: 10px;
  }

  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .close_sidebar_button,
  .open_sidebar {
    display: block;
  }
  .facet_filters {
    position: fixed;
    top: 0;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters {
    z-index: 9991 !important;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .close_sidebar_button,
  .open_sidebar {
    display: block;
  }

  .open_sidebar a.fl-button {
    display: inline-block !important;
  }
  .open_sidebar a {
    float: none !important;
  }
  .fa-close:before,
  .fa-remove:before,
  .fa-times:before {
    content: "\f00d";
  }
  .close .fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .facet_filters .close_bar {
    display: block !important;
  }
  .col-md-5.col-sm-12.product-box > .row > div {
    margin: 0 auto !important;
    text-align: center;
  }
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    padding: 0 !important;
  }
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 650px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 650px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 650px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 650px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 650px !important;
    max-height: 650px !important;
  }
  .product-attributes table {
    table-layout: fixed !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: +2;
  }
  .fl-page-bar .col-sm-6.col-md-6.text-right.clearfix {
    width: 100%;
  }
  body .fl-page-bar .col-sm-6.col-md-6.text-left.clearfix {
    display: none;
  }
  ul#topbar > li:nth-child(2),
  ul#topbar > li:nth-child(3) {
    display: block !important;
  }
  ul#topbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ul#topbar p.inline_address {
    margin-bottom: 0px;
  }
  .fl-page-nav .navbar-nav li > a {
    font-size: 12px;
  }
}

@media only screen and (min-device-width: 1022px) and (max-device-width: 1024px) {
  .style-product_list .pro-container .row .col-md-7 {
    width: 100% !important;
    height: 400px;
  }

  .style-product_list .pro-container > .row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
  }
  button#rmp_menu_trigger-1131301 {
    top: 100px;
    right: 3%;
  }
}

@media (max-width: 1024px) {
  a.fl-button.nowHiring {
    margin: 0 auto;
    width: 130px;
    display: block;
  }
  .style-product_list .pro-container > .row .main-image {
    height: 400px !important;
  }

  .style-product_list .pro-container > .row > .col-md-5 {
    clear: left !important;
    width: 100% !important;
  }

  ul#topbar li a {
    font-size: 11px;
    padding: 5px;
  }

  .none-1024 {
    display: none;
  }

  .none-1024 ~ div.fl-col-small {
    width: 100%;
  }

  .fl-page-nav .navbar-nav li > a {
    padding: 15px 8px;
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  /* Slider height issue on mobile open */
  .fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
    min-height: 650px !important;
  }
  .fl-content-slider
    .fl-slide-foreground
    .fl-builder-content
    .fl-row
    > .fl-row-content-wrap {
    min-height: 500px;
  }
  .fl-slide-mobile-photo {
    z-index: +2;
    position: relative;
    max-height: 500px !important;
    text-align: center !important;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .fl-slide-mobile-photo > img {
    padding: 50px;
    max-height: 500px !important;
    width: auto;
    margin: 0 auto;
  }
  .fl-content-slider .fl-slide {
    min-height: 500px !important;
    max-height: 500px !important;
  }
  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
  /* Slider height issue on mobile closed */
  ul#topbar > li:last-child {
    display: block !important;
  }

  .social-icons-container {
    text-align: center;
  }

  .fl-button span.fl-button-text {
    color: #fff !important;
  }

  .uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
    width: auto !important;
    color: #fff;
  }
}

@media (max-width: 991px) {
  .style-product_list .pro-container .pro-roomscene .main-image > img {
    height: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 768.5px) {
  .max-width-issue {
    max-width: 360px !important;
    margin: 0 auto !important;
  }
}

@media (max-width: 768px) {
  .max-width-issue {
    max-width: 360px !important;
    margin: 0 auto !important;
  }

  #menu-copyright-bar-menu a {
    padding: 6px 10px !important;
  }

  .gform_footer,
  li#field_3_2,
  li#field_3_1 {
    padding-right: 16px;
  }

  .gform_wrapper li#field_5_3,
  .gform_wrapper li#field_5_9,
  .gform_wrapper li#field_5_10 {
    padding-right: 0px !important;
  }

  .fl-builder-content .fl-module-menu ul.menu > li {
    padding-bottom: 10px !important;
    display: block !important;
  }

  .uabb-gf-style
    .gform_wrapper
    ul.gform_fields
    li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0px !important;
  }

  .fl-module-menu .menu a,
  #field_5_8 input {
    padding: 15px 10px !important;
  }

  .facetwp-per-page .facetwp-per-page-select {
    background: #fff !important;
    color: #000 !important;
  }

  #menu-copyright-bar-menu > li {
    display: block;
    padding-bottom: 5px !important;
  }

  .fl-content-slider .fl-slide-bg-link {
    z-index: 2;
  }
}

@media (max-width: 767px) {
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 60%;
    float: left;
  }

  .fl-page-bar .fl-page-bar-row .text-right {
    width: 40%;
    float: right;
  }

  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: left !important;
  }

  ul#topbar > li:last-child {
    float: right !important;
  }

  .fl-module-heading h1.fl-heading {
    line-height: 48px !important;
  }
}

@media (max-width: 450px) {
  .gfield input[type="radio"] {
    margin-top: 4px !important;
  }

  .gfield input[type="text"] {
    width: 100% !important;
  }

  #field_5_13,
  #field_6_13,
  #field_3_10 {
    padding-right: 0px !important;
  }

  .gfield {
    padding-right: 15px !important;
  }

  #field_5_8 input {
    padding: 10px !important;
  }

  #field_5_8 select {
    height: 50px !important;
    min-width: 60px !important;
    width: 60px !important;
  }

  .fl-page-bar .fl-page-bar-row .text-left {
    width: 66%;
    float: left;
    padding: 0px;
  }

  .fl-page-bar .fl-page-bar-row .text-right {
    width: 34%;
    float: right;
    padding: 0px;
  }

  .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }

  footer .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }

  ul#topbar {
    flex-direction: column;
  }
  button.rmp_menu_trigger {
    top: 66px !important;
  }
}

@media(max-width:330px){
	    ul#topbar li a {
        font-size: 10px !important;
    }
}
